# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.venv/
.env/

# Data
# data/raw/*
!data/raw/.gitkeep
# data/processed/*
data/processed/tiles/*
!data/processed/.gitkeep
# data/external/*

!data/external/.gitkeep

# Jupyter
.ipynb_checkpoints

# VSCode
.vscode/

# OS
.DS_Store
.env